[v-cloak] {
    display: none;
}

body {
    background-color: #f5f5f5;
    font-family: 'Microsoft YaHei';
}

.navbar {
    background-color: #fff;
    border-color: #fff;
    border-top: 24px solid #595959;
    margin-bottom: 0;
    padding: 5px;
    img {
        width: 120px;
    }
}

.breadcrumb {
    margin: 5px -15px;
}

.button {
    padding: 0;
}

.button-caution {
    background-color: #f28794;
}

.text-danger {
    color: #f28794;
}

.light-block {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 24px;
    img {
        width: 100%;
    }
    .underline {
        border-bottom: 2px solid #333333
    }
    .input-group {
        span,
        input {
            border-radius: 0;
        }
    }
    hr {
        margin-top: 0;
    }
}

footer {
    background-color: #48525e;
    color: #a2abb7;
    padding: 30px 0;
    clear: both;
    h2 {
        color: #ed6478;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 12px;
    }
    p,
    address {
        margin: 0;
        font-size: 85%;
        min-height: 60px;
        i {
            font-size: 150% !important;
            padding: 0 15px 0 0;
        }
    }
}

.copy-info {
    font-size: 90%;
    padding: 8px 0 0 0;
    background-color: #3b434c;
    color: #a2abb7;
    font-weight: lighter;
}

textarea {
    resize: none;
}

.star {
    color: #e3e3e3;
    font-size: 120%;
    width: auto;
}

.thumbnail {
    font-weight: 300;
    .label {
        margin-left: 5px;
        font-size: 100%;
        font-weight: inherit;
        transition: all .25s ease-out;
    }
    i {
        padding: 0 3px;
        transition: all .25s ease-out;
    }
    .choose {
        color: #fde16d;
        text-shadow: 1px 1px 1px #555;
        transition: all .25s ease-out;
    }
}

.navbar-fixed-bottom {
    padding: 0;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #48525e;
    font-size: 20px;
    font-weight: 350;
    text-transform: uppercase;
    .word > div {
        float: left;
        padding: 10px 0;
    }
    button {
        font-weight: bold;
        font-size: 22px;
        float: right;
        padding: 5px 20px;
        height: 100%;
    }
}

.disabled {
    background-color: #f28794!important;
}

.input-group-addon {
    font-size: 18px;
}
